<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Monitoring System</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="static/css/style.css" />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Monitoring System</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-5">
            <div class="wrap">
              <div
                class="img"
                style="background-image: url(static/images/bg-1.jpg)"
              ></div>
              <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-4">Sign In</h3>
                  </div>
                </div>
                <form action="#" class="signin-form">
                  <div class="form-group mt-3">
                    <input
                      id="username"
                      type="text"
                      class="form-control"
                      required
                    />
                    <label class="form-control-placeholder" for="username"
                      >Username</label
                    >
                  </div>
                  <div class="form-group">
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      required
                    />
                    <label class="form-control-placeholder" for="password"
                      >Password</label
                    >
                    <span
                      toggle="#password-field"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                    ></span>
                  </div>
                  <div class="form-group">
                    <button
                      type="submit"
                      class="form-control btn btn-primary rounded submit px-3"
                    >
                      Sign In
                    </button>
                  </div>
                </form>
                <p class="text-center">
                  Not a member?
                  <a data-toggle="tab" id="to-signup" href="#signup">Sign Up</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"
    ></script>
    <script src="static/js/popper.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/main.js"></script>
    <script type="text/javascript">
      $(document).ready(function ($) {
        $.cookie();
        $(".signin-form").submit(function (event) {
          event.preventDefault();

          var body = new FormData();
          body.append("username", $("#username").val());
          body.append("password", $("#password").val());

          var data = new URLSearchParams(body);

          $.ajax({
            url: "http://localhost:8000/login",
            method: "POST",
            data: data,
            contentType: false,
            processData: false,
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            success: function (response) {
              $.cookie("access_token", response.access_token);
              location.href = "http://localhost:8000/dashboard";
            },
            error: function (response) {
              alert(response.responseJSON.detail);
              console.log(response);
            },
          });

          event.preventDefault();
        });

        $("#to-signup").on("click", function () {
          location.href = "http://localhost:8000/signup";
        });
      });
    </script>
  </body>
</html>
