<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Monitoring System</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Monitoring System</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-7 col-lg-5">
            <div class="wrap">
              <div
                class="img"
                style="background-image: url(../static/images/bg-1.jpg)"
              ></div>
              <div class="login-wrap p-4 p-md-5">
                <div class="d-flex">
                  <div class="w-100">
                    <h3 class="mb-4">Sign Up</h3>
                  </div>
                </div>
                <form action="#" class="signup-form">
                  <div class="form-group mt-3">
                    <input
                      id="username"
                      type="text"
                      class="form-control"
                      required
                    />
                    <label class="form-control-placeholder" for="username">
                      Username
                    </label>
                  </div>
                  <div class="form-group">
                    <input
                      id="email"
                      type="email"
                      class="form-control"
                      required
                    />
                    <label class="form-control-placeholder" for="email">
                      email
                    </label>
                  </div>
                  <div class="form-group">
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      required
                    />
                    <label class="form-control-placeholder" for="password">
                      Password
                    </label>
                    <span
                      toggle="#password-field"
                      class="fa fa-fw fa-eye field-icon toggle-password"
                    ></span>
                  </div>
                  <div class="form-group">
                    <button
                      type="submit"
                      class="form-control btn btn-primary rounded submit px-3"
                    >
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/popper.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script type="text/javascript">
      $(document).ready(function ($) {
        $(".signup-form").submit(function (event) {
          event.preventDefault();

          var body = new FormData();
          body.append("username", $("#username").val());
          body.append("password", $("#password").val());
          body.append("email", $("#email").val());

          console.log(body);

          var data = new URLSearchParams(body);

          $.ajax({
            url: "http://localhost:8000/api/users/signup",
            method: "POST",
            data: data,
            contentType: false,
            processData: false,
            headers: {
              "Content-Type": "application/x-www-form-urlencoded",
            },
            success: function (response) {
              alert("Account Created");
              location.href = "http://localhost:8000/";
            },
            error: function (response) {
              alert(response["detail"]);
            },
          });

          event.preventDefault();
        });
      });
    </script>
  </body>
</html>
